.section-vert.vert.section {
  margin-top: 15.5dvh;
  width: 100%;
  .vert__inner {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    // overflow: scroll;
    // height: 235px;

    border-radius: 12px;
    background: #230707;
    border: 1px solid #461717;
    // max-height: 237px;
  }

  .vert__button {
    font-family: "Onest";
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.05em;
    text-align: right;
    color: #eb3d3d;

    border: 1px solid #eb3d3d;
    border-radius: 17px;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 0;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 90%;

    background: rgba(235, 61, 61, 0.2);
  }

  .vert__title {
    padding: 20px 0;
    font-family: "SF Pro Display";
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #fff;
  }

  .vert__scrollblock {
    display: flex;
    gap: 20px;
    justify-content: center;
    position: relative;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    &::before {
      content: "";
      height: 32px;
      width: 90%;
      background: #eb3d3d;
      position: absolute;
      top: 53.5%;
      left: 5%;
      border-radius: 9px;
      z-index: 1;
    }
    .vert__scroll {
      overflow: hidden;
      &:last-child {
        span {
          text-align: left;
        }
      }
      z-index: 2;
      font-family: "Onest";
      transition: all 0.25s;
      display: flex;
      font-weight: 400;
      flex-direction: column;
      height: 174.95px;
      gap: 10px;
      span {
        &:nth-child(1) {
          font-size: 10px;
        }
        &:nth-child(2) {
          font-size: 12px;
        }
        &:nth-child(3) {
          font-size: 14px;
        }
        &:nth-child(4) {
          font-size: 16px;
        }
        &:nth-child(5) {
          font-size: 18px;
        }
        &:nth-child(6) {
          font-size: 16px;
        }
        &:nth-child(7) {
          font-size: 14px;
        }
        transition: all 0.25s;
        font-family: "Onest";
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.03em;
        text-align: right;
        color: #fff;
      }

      &.nano-1 {
        span {
          &:nth-child(1) {
            font-size: 10px; // 12
          }
          &:nth-child(2) {
            font-size: 12px; // 14
          }
          &:nth-child(3) {
            font-size: 14px; // 16
          }
          &:nth-child(4) {
            font-size: 16px;
          }
          &:nth-child(5) {
            font-size: 18px;
          }
          &:nth-child(6) {
            font-size: 16px;
          }
          &:nth-child(7) {
            font-size: 14px;
          }
        }
      }
    }
  }
}
