.section-dev.dev.section {
  margin-top: 15.5dvh;
  width: 100%;
  .dev__inner {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    background: #230707;
    border: 1px solid #461717;
    border-radius: 15px;
    padding-bottom: 20px;
  }
  .dev__title {
    margin-top: 14px;
    font-family: 'SF Pro Display';
    font-size: 19px;
    text-align: center;
    color: #fff;
  }
  .dev__diap {
    margin-top: 25px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.1fr;
    
    .dev__diap__item {
      &:first-child {
        .dev__line {
          border-radius: 5px 0 0 5px;
        }
      }
      &:last-child {
        .dev__line {
          width: 1%;
          border-radius: 0 5px 5px 0;
        }
      }
      display: flex;
      flex-direction: column;
      gap: 10px;
      .dev__line {
        background: #4d3b3b;
        height: 4px;
        // max-width: 80%;
      }
      .dev__text {
        // text-align: center;
        font-weight: 600;
        font-family: 'SF Pro Display';
        font-size: 11px;
        margin-top: 5px;
        color: #fff;
      }
      position: relative;
      .dev__point {
        position: absolute;
        width: 19px;
        height: 19px;
        border: 1px solid white;
        border-radius: 100%;
        top: -10px;
        background: white;
        opacity: 0;
        &.setter {
          background: none;
          opacity: 1;
          background: #230707;
        }
      }
    }
  }
}